body {
  width: 100vw;
  height: 100vh;
  background: #000;
  background-image: url("./assets/wallpaper.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#navbar {
  width: 100vw;
  height: 40px;
}

#stage {
  width: 100vw;
  height: inherit;
  height: -webkit-fill-available;

}

#docker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 10px 20px;
}
